        body {
            columns: #40514e;
            margin: 0px;
            text-align: center;
            font-family: 'Merriweather', serif;
        }
        h1{
            font-size: 90px;
            color: #66BFBF;
            margin: 50px auto 0 auto;
            font-family: 'Sacramento', cursive;
        }

        h2{
            font-size: 2.5rem;
            font-weight: normal;
            color: #66BFBF;
            font-family: 'Montserrat', sans-serif;
            padding-bottom: 10px;
        }

        h3{
            color: #40e9e9;
            font-family: 'Montserrat', sans-serif;
        }

        p{
            line-height: 2;
        }
        
        hr{
            border: dotted #98bebe 6px;
            border-bottom: none;
            width: 4%;
            margin: 100px auto;
        }

        a{
            color: #11999e;
            font-family: 'montserrat', sans-serif;
            margin: 10px 20px;
            text-decoration: none;
        }

        a:hover{
            color: #eaf6f6;
        }

        div {
            background-color: #E4F9F5;
        }
        
        .top-container {
            
            
        }
        
        .middle-container {
            margin: 100px;
            
            
        }
        
        .bottom-container {
            background-color: #66BFBF;
            padding: 50px 0 20px;
        }

        .intro{
            width: 30%;
            margin: auto;
        }
        .pro{
            text-decoration: underline;
        }

        .top-cloud{
            position: absolute;
            right: 300px;
            top: 40px;
        }

        .bottom-cloud{
            position: absolute;
            left: 250px
            bottom: 300px;
        }

        .new-image{
            margin: 0;
            height: 150px;
            width: 150px;
        }

        .profile-image{
            margin: 0;
            height: 150px;
            width: 150px;
        }

        .mountain{
            margin: 50px;
            height: 250px;
            width: 350px;
        }
        .Front-End{ 
            float: left;
           
        }

        .Back-End{
            clear: right;
        }
        .frontend-text{
            text-align: left;
            font-size: small;
            padding-right: 100px;
        }

        .contact-message{
            width: 40%;
            margin: 40px auto 60px;
        }

        .copyright{
            color: #eaf6f6;
            font-size: 0.75rem;
            padding: 20px 0;
        }

        .backend-text{
            text-align: left;
            font-size: small;
        }

        .btn {
            background: #3498db;
            background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
            background-image: -moz-linear-gradient(top, #3498db, #2980b9);
            background-image: -ms-linear-gradient(top, #3498db, #2980b9);
            background-image: -o-linear-gradient(top, #3498db, #2980b9);
            background-image: linear-gradient(to bottom, #3498db, #2980b9);
            -webkit-border-radius: 8;
            -moz-border-radius: 8;
            border-radius: 8px;
            font-family: Arial;
            color: #ffffff;
            font-size: 20px;
            padding: 10px 20px 10px 20px;
            border: solid #13ebf2 2px;
            text-decoration: none;
          }
          
          .btn:hover {
            background: #3cb0fd;
            text-decoration: none;
          }